.gsd-keyboard.settings-ported
Code - OSS/
GNOME-xdg-terminals.list
Google/
Insomnia/
JetBrains/
Kitware/
Ladybird/
QtProject.conf
balena-etcher/
btop/
composer/
dconf/
discord/
evolution/
gnome-control-center/
go/
google-chrome/
gtk-3.0/
ibus/
jxbrowser/
mimeapps.list
neofetch/
nextjs-nodejs/
nvim/.github/
nvim/.gitignore
nvim/.stylua.toml
nvim/LICENSE.md
nvim/README.md
nvim/lua/
pavucontrol.ini
pulse/
rofi/
spotify/
tmux/
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
zed/
